@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Cheques </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/SistemaChequesNuevo.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/javascript.js"></script>

</head>

<body class="header-navbar">

    <header class="header">

        <a href="#" class="logo"> Logo </a>

        <nav class="navbar">

            <!--  <div class="navbar"> -->
            <!--<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> Sistema de cheques</a>-->
            <a asp-area="" asp-controller="Home" asp-action="Index">Cheques Generados</a>

            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-area="" asp-controller="Proveedors" asp-action="">Proveedores</a>
                <a asp-area="" asp-controller="Pago" asp-action="">Conceptos de Pago</a>
                <a asp-area="" asp-controller="SolicitudCheque" asp-action="">Solicitud de cheques</a>
                <a asp-area="" asp-controller="AsientoContable" asp-action=""> Asiento Contable </a>
               
            }

            <partial name="_LoginPartial" />

            <!--  </div>-->

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SistemaChequesNuevo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/javascript.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
