@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!--<nav class="navbar">

    <div class="wrapper">-->
@if (SignInManager.IsSignedIn(User))
{
    <a class="login-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    <a class="login-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
    <!--  <button type="submit" class="btnLogin-popup">Logout</button> -->
}
else
{
    <a class="login-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="login-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
<!--</div>
</nav>-->
