@model SistemaChequesNuevo.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<div class="edit active">

    <div class="edit-form">

        <h2>Agregar nuevo concepto de pago</h2>

        <form asp-action="Create" id="miFormulario">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Descripcion -->
            <div class="form-input">
                <span asp-validation-for="Descripcion" class="text-danger"></span>
                <input asp-for="Descripcion" class="form-control" />
                <label asp-for="Descripcion" class="form-label">Descripcion</label>
            </div>

            <!-- Estados -->
            <div class="form-input">
                <span asp-validation-for="Estado" class=""></span>
                <select asp-for="Estado" class="form-select">
                    <option selected disabled>  Seleccione el tipo de persona</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Aprobado">Aprobado</option>
                </select>
                <label asp-for="Estado" class="form-label">Estado</label>
            </div>

            <input type="submit" value="Create" class="btn" />

            <div class="login-register">
                <a asp-action="Index" class="go-back"> Back to List </a>
            </div>

        </form>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        document.getElementById("miFormulario").addEventListener("submit", function (event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

            // Muestra la alerta de SweetAlert
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your work has been saved successfully",
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                // Cuando se cierre la alerta, envía el formulario
                if (result.dismiss === Swal.DismissReason.timer) {
                    document.getElementById("miFormulario").submit();
                }
            });
        });

    </script>
        }
