@model SistemaChequesNuevo.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<div class="edit active">

    <div class="edit-form">

        <h2>Details</h2>

        <dl>
            <dt class="login-register">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="form-label">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="login-register">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="form-label">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>

        <div class="login-register">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="go-back">Edit</a> |
            <a asp-action="Index" class="go-back">Back to List</a>
        </div>

    </div>
</div>