
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.header-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/*background-image: url('../images/sistemacheques (1).jpg');*/
	background-color: #F0F3FA;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*Main Page*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 20px 100px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.logo {
	font-size: 32px;
	color: #006DA4;
	text-decoration: none;
	font-weight: 600;
	user-select: none;
}

.navbar a {
	position: relative;
	font-size: 15px;
	color: #006DA4;
	font-weight: 500;
	text-decoration: none;
	margin-left: 30px;
}

.navbar .btnLogin-popup {
	width: 100px;
	height: 40px;
	padding: 1%;
	background: transparent;
	border: 2px solid #006DA4;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: .8em;
	color: #006DA4;
	font-weight: 500;
	/*margin-left: 40px;*/
	transition: .3s;
}

.navbar a::before {
	content: '';
	position: absolute;
	margin-top: 5px;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #006DA4;
	transition: .3s;
}

.navbar .btnLogin-popup:hover {
	background: #006DA4;
	color: #F0F3FA;
}

.navbar a:hover::before {
	width: 100%;
}

/* Login y Register Form, forms*/

.wrapper {
	position: absolute;
	display: none;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid #F0F3FA;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 520px;
}

.wrapper .form-box {
	width: 100%;
	padding: 40px;
}

.wrapper .form-box.login {
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register {
	position: absolute;
	transition: none;
	transform: translateX(400px);
}

.wrapper.active .form-box.register {
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper .icon-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: #162938;
	font-size: 2em;
	color: #F0F3FA;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.form-box h2, .edit-form h2 {
	font-size: 2em;
	color: #006DA4;
	text-align: center;
}

h1 {
	color: #006DA4;
	text-align: center;
}

p {
	color: #8AAEE0;
	text-align: center;
}

th {
	color: #8AAEE0;
	text-align: center;
}

.input-box, .form-input {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}

.input-box label, .form-input label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #162938;
	font-weight: 500;
	pointer-events: none;
	transition: .3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.form-input input:focus ~ label,
.form-input input:valid ~ label,
.form-input select:focus ~ label,
.form-input select:valid ~ label {
	top: -5px;
}

.input-box input, .form-input input, .form-input select {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: #162938;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon, .form-input .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: #162938;
	line-height: 57px;
}

.remember-forgot {
	font-size: 0.9em;
	color: #162938;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: #162938;
	margin-right: 3px;
}

.remember-forgot a, .edit-form a {
	color: #162938;
	text-decoration: none;
}

.remember-forgot a:hover, .edit-form a:hover {
	text-decoration: underline;
}

.btn {
	width: 100%;
	height: 45px;
	background: #006DA4;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #F0F3FA;
	font-weight: 500;
}

.login-register {
	font-size: 0.9em;
	color: #006DA4;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}

.login-register p a, .edit-form a {
	color: #006DA4;
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover, .edit-form a:hover {
	text-decoration: underline;
}


/* tables */

.table {
	width: 82vw;
	height: 70vh;
	/*background: #fff9;*/
	border-radius: 20px;
	overflow: hidden;
	justify-content: center;
}

.table tbody .edit-icon {
	color: #2A9D8F;
	font-size: 1.5rem;
	margin-inline: 2px;
}

.table tbody .remove-icon {
	color: #B51A2B;
	font-size: 1.5rem;
	margin-inline: 2px;
}

.table tbody .view-icon {
	color: #E9C46A;
	font-size: 1.5rem;
	margin-inline: 2px;
}

.table .add-new {
		/*
	background-color: #162938;
	width: auto;
	height: 3rem; 
	
	border-radius: .9rem;
	color: #F0F3FA;
	
	height: 40px;*/

	margin-right: 4%;
	width: auto;
	height: 3rem;
	padding: .7rem;
	background: transparent;
	border: 2px solid #006DA4;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #006DA4;
	font-size: 15px;
	font-weight: 500;
	transition: .3s;
	text-decoration: none;
	justify-content: center;
	align-items: center;
}

.table .add-new:hover {
	background: #006DA4;
	color: #F0F3FA;
}


.table-header {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	justify-content: space-between;
	width: 100%;
	height: 10%;
	display: flex;
	align-content: center;
}

.table-body {
	width: 98%;
	max-height: 89%;
	/*background-color: #D5DEEF;*/
	margin: .8rem auto;
	border-radius: .3rem;
	overflow: auto;
}

	/*Responsive*/

.table-body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	/*	visibility: hidden;*/
}

.table-body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

th {
	width: 10%; /* Establece un ancho fijo para las celdas de encabezado */
}

/*
table, th, td {
	border-collapse: collapse;
	padding: 1rem;
	width: 100%;
	justify-content:center;
	align-content: center;
}

thead th{
	position: sticky;
	top: 0;
	left: 0;
	background-color: yellow;
}
*/

/* Editar form */

.edit, .edit-add {

	width: 400px;
	height: auto;
	background: transparent;
	border: 2px solid #006DA4;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	justify-content: center;
	align-items: center;
	display: flex;
	transform: scale(0);
	transition: transform .5s ease;
	
}

/*position: absolute;*/.edit-add {
	margin-top: 150px;	
}

.edit.active {
	transform: scale(1);
}

.edit-form {
	width: 100%;
	padding: 40px;
	z-index: 1;
	position: relative;
}


/* Editar y Guardar form de proveedores y registro de cheques 

.edit-form {
	width: 100%;
	padding: 40px;
}*/
.edit-add.active {
	transform: scale(1);
}

/* Botones de estados */
.generar-cheque-btn, .anular-solicitud-btn {
	cursor: pointer;
	font-size: 0.8em;
	color: #8AAEE0;
	text-align: center;
	font-weight: 500;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	border: none;
	display: flex;
}

.generar-cheque-btn:hover, .anular-solicitud-btn:hover {
	color: #006DA4;
}

