@model SistemaChequesNuevo.Models.AsientoContable

@{
    ViewData["Title"] = "Details";
}

<div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
    <div style="display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;">
        <img src="https://static-00.iconduck.com/assets.00/success-icon-512x512-qdg1isa0.png" width="150px" height="150px"></img>
        <h1>Asiento Contable Enviado exitosamente</h1>
    </div>
</div>



